.services{
    .services-title{
        @extend %section-title;
    }
    .services-group{
        @extend %section-group;
        .services-item{
            display: inline-block;
            width: 31%;
            margin:0px 1%;
            cursor: pointer;
            .icon-round{
                 @include circle('icon-circle');
            }
            .services-name{
                text-align:center;
                h2{
                    color:$main-color;
                }
            }
            &:hover{
                .icon-round{
                    background-color: $second-color;
                    border:2px solid #{$main-color};
                    i{
                        color:$main-color;
                        transform: rotate(360deg);
                    }
                }
               
            }
        }
    }
}