.navbar{
    width: 100%;
    height: 100px;
    color: $second-color;
    background-color: $main-color;
    box-shadow: 0px 5px 50px 5px $main-color;
    display: flex;
    align-items: center;

    .logo{
        border: 2px solid $second-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 10px;
        cursor: pointer;
        font-weight: bolder;
    }
    .nav-right{
        display: flex;
        align-items: center;
        margin-left: auto;
        flex-basis: 50%;
        .nav{
            text-decoration: none;
            list-style: none;
            display: flex;
            flex-basis: 100%;
            justify-content: space-evenly;

            .nav-items{
                
                padding: 10px;
                cursor: pointer;
                transition: 0.5s;
                .link{
                    color: $second-color;
                    text-decoration: none;
                }
                &:hover{
                    letter-spacing: 3px;
                    font-weight: bolder;

                }
                &::after{
                    border: 1px solid rgba(255, 255, 255,0);
                    bottom: 0px;
                    content: "";
                    display: block;
                    margin: 5px auto;
                    position: relative;
                    transition: all 280ms ease-in-out;
                    width: 0;
                }
                &:hover:after{
                    border-color: $second-color;
                    text-align: center;
                    transition: width 350ms ease-in-out;
                    width: 100%;
                }
            }
            
        }
    }
    
}